<header class="bar-header">
    <div class="bar-header-wrap">
        <a id="menu">
            <svg id="open" class="icon-menu"><use xlink:href="#icon-menu"></use></svg>
        </a>
        <a id="search" class="dosearch">
            <svg class="icon-search"><use xlink:href="#icon-search"></use></svg>
        </a>
        <h1 class="logo">
            <a href="{{ site.baseurl }}/">
                ZUM TECH
                <!-- <img src="{{ site.logo }}" alt="{{ site.username }}"> -->
            </a>
        </h1>
    </div>
</header>

<div id="mask" class="overlay"></div>

{% include menu.html %}
{% include search.html %}
