<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% if page.title == blank or page.title == nil %}{{ site.title }}{% else %}{{ page.title }}{% endif %}</title>
    <meta name="title" content="{% if page.title == blank or page.title == nil %}{{ site.title }}{% else %}{{ page.title }}{% endif %}"/>
    <meta name="description" content="{% if page.description == blank or page.description == nil %}{{ site.description }}{% else %}{{ page.description }}{% endif %}">

    <meta property="og:title" content="{% if page.title == blank or page.title == nil %}{{ site.title }}{% else %}{{ page.title }}{% endif %}"/>
    <meta property="og:site_name" content="{% if page.title == blank or page.title == nil %}{{ site.title }}{% else %}{{ page.title }}{% endif %}"/>
    <meta property="og:type" content="{{ site.og_type }}"/>
    <meta property="og:url" content="{{ site.url }}{{ page.url }}"/>
    <meta property="og:image" content="{% if page.image == blank or page.image == nil %}{{ site.og_image }}{% else %}{{ site.url }}{{ page.image }}{% endif %}"/>
    <meta property="og:description" content="{% if page.description == blank or page.description == nil %}{{ site.description }}{% else %}{{ page.description }}{% endif %}"/>

    <!-- Fonts -->
    <link href="//fonts.googleapis.com/css?family=Titillium+Web:300,400,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/earlyaccess/notosanskr.css" rel="stylesheet">

    <link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">


    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
</head>
