<div class="main_content">
    <div class="main_content__wrap">
        <div class="main_content__bg-pattern">
            <span class="main_content__bg-catchphrase main_content__bg-catchphrase-1"></span>
            <span class="main_content__bg-catchphrase main_content__bg-catchphrase-2"></span>
            <span class="main_content__bg-catchphrase main_content__bg-catchphrase-3"></span>
        </div>
        <div class="main_content__title-area">
            <a href="{{ site.baseurl }}" class="main_content__title">
                <img src="{{ site.logo_simple }}" alt="{{ site.catchphrase }}" width="43" height="43" class="main_content__logo">
                <span class="main_content__name1"><i class="blind">z</i>uminternet</span>
                <span class="main_content__name2">TECH BLOG</span>
            </a>
            <span class="main_content__catchphrase"></span>
            <span class="main_content__bg"></span>
        </div>
    </div>
</div>