.author
    background lightGray
    display table
    width 100%
    padding rem(30px) 0
    margin rem(40px) 0
    +above(cut)
        padding rem(20px) 0
    p
        margin-bottom 0
    .details
        margin auto
        max-width rem(800px)
        padding 0 rem(20px)
        +below(cut)
            text-align center
    svg
        size(25,25)
        margin-right rem(10px)
    a
        fill darken(lightGray, 30%)
        text-decoration none
        border none
        transition all .3s
        &:hover
            fill themeColor
    img
        width rem(100px)
        border-radius 50%
        display block
        margin auto
        +above(cut)
            float left
            margin-right rem(50px)
    .def
        color gray
        font-size rem(18px)
        mainFont(300)
        margin rem(10px)
        +above(cut)
            margin 0
    .name
        margin 0
        +above(cut)
            margin-top rem(5px)
        a
            mainFont()
            text-decoration none
            color black
            font-size rem(25px)
            &:hover
                color texts
    .desc
        mainFont(300)
        margin-top rem(4px)
        font-size rem(16px)
        line-height rem(20px)
        +above(cut)
            font-size rem(16px)
