a
  -webkit-tap-highlight-color: rgba(0,0,0,0);

mainFont(weight = normal)
  font-family 'Noto Sans KR', '맑은 고딕', sans-serif, 'Titillium Web', 'Helvetica Neue', Helvetica, sans-serif
  font-weight weight
  font-style normal

h1,h2,h3,h4
  mainFont()

.text-center
  text-align center
