// Colors
themeColor = #1b52ed
primaryDark = rgba(0,0,0,.9)
accentDark = #ffffff
lightGray = #f2f2f2
texts = #333333
mainBg = rgba(20,20,20,1)
mainBgOpacity = mainBg - rgba(0,0,0,.9)
mainBgReversal = rgba(255,255,255,1) - mainBg

// Resolution
cut = 37.5rem
cut2 = 75rem

// layout
layoutWidth = 1050px